In [1]:
# import the dataset
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns



# sample this dataset for 100000 rows
# df = df.sample(100000, random_state=42)

C:\Users\mohit\AppData\Roaming\Python\Python312\site-packages\seaborn\_statistics.py:32: UserWarning: A NumPy version >=1.23.5 and <2.3.0 is required for this version of SciPy (detected version 2.3.1)
  from scipy.stats import gaussian_kde

In [2]:
# save this sample to a new csv file
# df.to_csv('sampled_tweets.csv', index=False)
df= pd.read_csv('training.1600000.processed.noemoticon.csv')

# !pip install numpy seaborn matplotlib

In [6]:
df

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [8]:
df_1

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
541200,0,2200003313,Tue Jun 16 18:18:13 PDT 2009,NO_QUERY,DEWGetMeTho77,@Nkluvr4eva My poor little dumpling In Holmde...
750,0,1467998601,Mon Apr 06 23:11:18 PDT 2009,NO_QUERY,Young_J,I'm off too bed. I gotta wake up hella early t...
766711,0,2300049112,Tue Jun 23 13:40:12 PDT 2009,NO_QUERY,dougnawoschik,I havent been able to listen to it yet My spe...
285055,0,1993474319,Mon Jun 01 10:26:09 PDT 2009,NO_QUERY,thireven,now remembers why solving a relatively big equ...
705995,0,2256551006,Sat Jun 20 12:56:51 PDT 2009,NO_QUERY,taracollins086,"Ate too much, feel sick"
...,...,...,...,...,...,...
1511312,4,2175079031,Mon Jun 15 00:02:00 PDT 2009,NO_QUERY,jasonbroaddus,&quot;Anvil&quot; was just awesome and heart w...
966771,4,1827723042,Sun May 17 11:18:40 PDT 2009,NO_QUERY,supera2587,@MaryAliceHale i wear converse more i dont rea...
47209,0,1677584726,Sat May 02 02:52:59 PDT 2009,NO_QUERY,leakk,shall i go to zurich ALL alone or shuld i stay...
1123660,4,1974531134,Sat May 30 13:19:23 PDT 2009,NO_QUERY,DiaZerva,"@satinephoenix not yet, on set but I think it ..."
759598,0,2296298718,Tue Jun 23 09:00:45 PDT 2009,NO_QUERY,Smudger61,"@salwaytay ahaha, omg, i know, it is stupidly ..."

In [3]:
# Load and prepare the dataset for hello.py compatibility
import pandas as pd
import numpy as np

# Load the original dataset
df = pd.read_csv('training.1600000.processed.noemoticon.csv')

# Create a sample of 5000 rows
df_1 = df.sample(5000, random_state=42)

# The hello.py expects these column names: ['target', 'tweet_id', 'timestamp_str', 'flag', 'user_name', 'text']
# Let's check the current columns and rename them appropriately

# Display current column info
print("Current columns:", df_1.columns.tolist())
print("Current shape:", df_1.shape)
print("\nFirst few rows:")
print(df_1.head())

# Rename columns to match expected format in hello.py
# Assuming the original dataset has columns in this order based on typical Twitter sentiment datasets:
# [target, id, date, flag, user, text]

column_mapping = {
    0: 'target',      # Sentiment label (0=negative, 4=positive)
    1: 'tweet_id',    # Tweet ID
    2: 'timestamp_str', # Date/timestamp
    3: 'flag',        # Flag column
    4: 'user_name',   # Username
    5: 'text'         # Tweet text
}

# If df_1 doesn't have column names, assign them
if df_1.columns.tolist() == list(range(len(df_1.columns))):
    df_1.columns = ['target', 'tweet_id', 'timestamp_str', 'flag', 'user_name', 'text']
else:
    # If it has different column names, rename them
    df_1 = df_1.rename(columns=dict(zip(df_1.columns, ['target', 'tweet_id', 'timestamp_str', 'flag', 'user_name', 'text'])))

# Clean and prepare the data
# 1. Ensure target column is numeric (0 for negative, 4 for positive)
df_1['target'] = pd.to_numeric(df_1['target'], errors='coerce')

# 2. Ensure tweet_id is numeric
df_1['tweet_id'] = pd.to_numeric(df_1['tweet_id'], errors='coerce')

# 3. Clean text column - remove any null values and ensure it's string
df_1['text'] = df_1['text'].astype(str)
df_1 = df_1[df_1['text'].notna() & (df_1['text'] != 'nan')]

# 4. Clean user_name column
df_1['user_name'] = df_1['user_name'].astype(str)

# 5. Handle timestamp - convert to proper datetime format if needed
# The hello.py expects format like: 'Tue Apr 29 23:27:28 PDT 2025'
# If your timestamps are in different format, convert them
try:
    # Try to parse existing timestamp format
    df_1['timestamp_str'] = pd.to_datetime(df_1['timestamp_str'], errors='coerce')
    # Convert back to the expected string format
    df_1['timestamp_str'] = df_1['timestamp_str'].dt.strftime('%a %b %d %H:%M:%S PDT %Y')
except:
    # If parsing fails, create dummy timestamps
    print("Warning: Could not parse timestamps, creating dummy timestamps")
    base_date = pd.Timestamp('2024-01-01')
    df_1['timestamp_str'] = [
        (base_date + pd.Timedelta(days=i)).strftime('%a %b %d %H:%M:%S PDT %Y') 
        for i in range(len(df_1))
    ]

# 6. Ensure flag column exists (can be dummy values)
if 'flag' not in df_1.columns or df_1['flag'].isna().all():
    df_1['flag'] = 'NO_QUERY'

# 7. Remove any rows with critical missing data
df_1 = df_1.dropna(subset=['target', 'text', 'user_name'])

# 8. Reset index
df_1 = df_1.reset_index(drop=True)

# Verify the final structure
print("\n" + "="*50)
print("PREPARED DATASET FOR HELLO.PY")
print("="*50)
print(f"Shape: {df_1.shape}")
print(f"Columns: {df_1.columns.tolist()}")
print("\nColumn info:")
print(df_1.info())
print("\nSample data:")
print(df_1.head())
print("\nTarget value distribution:")
print(df_1['target'].value_counts())
print("\nSample timestamps:")
print(df_1['timestamp_str'].head())

# Save the prepared dataset
df_1.to_csv('sampled_tweets.csv', index=False)
print(f"\n✅ Dataset saved as 'sampled_tweets.csv' with {len(df_1)} rows")
print("This file is now ready to be used with hello.py!")

Current columns: ['0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY', '_TheSpecialOne_', "@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D"]
Current shape: (5000, 6)

First few rows:
        0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY _TheSpecialOne_  \
541200  0  2200003313  Tue Jun 16 18:18:13 PDT 2009  NO_QUERY   DEWGetMeTho77
750     0  1467998601  Mon Apr 06 23:11:18 PDT 2009  NO_QUERY         Young_J
766711  0  2300049112  Tue Jun 23 13:40:12 PDT 2009  NO_QUERY   dougnawoschik
285055  0  1993474319  Mon Jun 01 10:26:09 PDT 2009  NO_QUERY        thireven
705995  0  2256551006  Sat Jun 20 12:56:51 PDT 2009  NO_QUERY  taracollins086

       @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
541200  @Nkluvr4eva My poor little dumpling  In Holmde...
750     I'm off too bed. I gotta wake up hella early t...
766711  I havent been able to listen to it yet  My spe...
285055  now remembers why solving a relatively big equ...
705995                           Ate too much, feel sick

==================================================
PREPARED DATASET FOR HELLO.PY
==================================================
Shape: (5000, 6)
Columns: ['target', 'tweet_id', 'timestamp_str', 'flag', 'user_name', 'text']

Column info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   target         5000 non-null   int64
 1   tweet_id       5000 non-null   int64
 2   timestamp_str  5000 non-null   object
 3   flag           5000 non-null   object
 4   user_name      5000 non-null   object
 5   text           5000 non-null   object
dtypes: int64(2), object(4)
memory usage: 234.5+ KB
None

Sample data:
   target    tweet_id                 timestamp_str      flag       user_name  \
0       0  2200003313  Tue Jun 16 18:18:13 PDT 2009  NO_QUERY   DEWGetMeTho77
1       0  1467998601  Mon Apr 06 23:11:18 PDT 2009  NO_QUERY         Young_J
2       0  2300049112  Tue Jun 23 13:40:12 PDT 2009  NO_QUERY   dougnawoschik
3       0  1993474319  Mon Jun 01 10:26:09 PDT 2009  NO_QUERY        thireven
4       0  2256551006  Sat Jun 20 12:56:51 PDT 2009  NO_QUERY  taracollins086

                                                text
0  @Nkluvr4eva My poor little dumpling  In Holmde...
1  I'm off too bed. I gotta wake up hella early t...
2  I havent been able to listen to it yet  My spe...
3  now remembers why solving a relatively big equ...
4                           Ate too much, feel sick

Target value distribution:
target
4    2504
0    2496
Name: count, dtype: int64

Sample timestamps:
0    Tue Jun 16 18:18:13 PDT 2009
1    Mon Apr 06 23:11:18 PDT 2009
2    Tue Jun 23 13:40:12 PDT 2009
3    Mon Jun 01 10:26:09 PDT 2009
4    Sat Jun 20 12:56:51 PDT 2009
Name: timestamp_str, dtype: object

✅ Dataset saved as 'sampled_tweets.csv' with 5000 rows
This file is now ready to be used with hello.py!

C:\Users\mohit\AppData\Local\Temp\ipykernel_21136\4085864722.py:59: FutureWarning: Parsed string "Tue Jun 16 18:18:13 PDT 2009" included an un-recognized timezone "PDT". Dropping unrecognized timezones is deprecated; in a future version this will raise. Instead pass the string without the timezone, then use .tz_localize to convert to a recognized timezone.
  df_1['timestamp_str'] = pd.to_datetime(df_1['timestamp_str'], errors='coerce')

In [4]:
df_1

,target,tweet_id,timestamp_str,flag,user_name,text
0,0,2200003313,Tue Jun 16 18:18:13 PDT 2009,NO_QUERY,DEWGetMeTho77,@Nkluvr4eva My poor little dumpling In Holmde...
1,0,1467998601,Mon Apr 06 23:11:18 PDT 2009,NO_QUERY,Young_J,I'm off too bed. I gotta wake up hella early t...
2,0,2300049112,Tue Jun 23 13:40:12 PDT 2009,NO_QUERY,dougnawoschik,I havent been able to listen to it yet My spe...
3,0,1993474319,Mon Jun 01 10:26:09 PDT 2009,NO_QUERY,thireven,now remembers why solving a relatively big equ...
4,0,2256551006,Sat Jun 20 12:56:51 PDT 2009,NO_QUERY,taracollins086,"Ate too much, feel sick"
...,...,...,...,...,...,...
4995,4,2175079031,Mon Jun 15 00:02:00 PDT 2009,NO_QUERY,jasonbroaddus,&quot;Anvil&quot; was just awesome and heart w...
4996,4,1827723042,Sun May 17 11:18:40 PDT 2009,NO_QUERY,supera2587,@MaryAliceHale i wear converse more i dont rea...
4997,0,1677584726,Sat May 02 02:52:59 PDT 2009,NO_QUERY,leakk,shall i go to zurich ALL alone or shuld i stay...
4998,4,1974531134,Sat May 30 13:19:23 PDT 2009,NO_QUERY,DiaZerva,"@satinephoenix not yet, on set but I think it ..."
4999,0,2296298718,Tue Jun 23 09:00:45 PDT 2009,NO_QUERY,Smudger61,"@salwaytay ahaha, omg, i know, it is stupidly ..."

In [ ]:
df_1.to_csv('sampled_tweets.csv', index=False)